<body>
    <div class="alert alert-success" *ngIf='message'>
        {{message}}
    </div>
    <div class="alert alert-danger" *ngIf='error'>
        {{error}}
    </div>

    <div class="col-md-4 offset-4 mt-2">
        <form #companyBeanForm='ngForm' (ngSubmit)='updateManager(companyBeanForm)' class="container">
            <div class="card">
                <div class="card-header">
                    <h4>Update Manager</h4>
                </div>
                <div class="form-group">
                    <label for="managerID">managerID: {{managerID1}}</label>
                    <input type="hidden" name="managerID" id="managerID" class="form-control" #managerID='ngModel' [(ngModel)]='managerID1'>
                </div>
            <div class="form-group">
                <label for="managerName">managerName</label>
                <input type="text" name="managerName" id="managerName" class="form-control" #managerName='ngModel' [(ngModel)]='managerName1'
                    placeholder="Enter your managerName" pattern="^[a-zA-Z]+(?: [a-zA-Z]+)*$" minlength="2" maxlength="50"
                    required>
                <div class="text-danger" *ngIf='(managerName.touched || managerName.dirty) && managerName.invalid'>
                    <div class="alert alert-danger" *ngIf='managerName.errors.required'>
                        *This Field Is invalid
                    </div>
                    <div class="alert alert-danger" *ngIf='managerName.errors.pattern'>
                        *Can contain only alphabets seperated by space with minimum length 2
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="managerCompany">managerCompany</label>
                <input type="text" name="managerCompany" id="managerCompany" required class="form-control" #managerCompany='ngModel' [(ngModel)]='managerCompany1'
                    placeholder="Enter your managerCompany" pattern="^[a-zA-Z]+(?: [a-zA-Z]+)*$" minlength="2" maxlength="50">
                <div class="text-danger" *ngIf='managerCompany.touched && managerCompany.invalid'>
                    <div class="alert alert-danger" *ngIf='managerCompany.errors.required'>
                        *This Field Is invalid
                    </div>
                    <div class="alert alert-danger" *ngIf='managerCompany.errors.pattern'>
                        *This field accepts only alphabets with length 2-50
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="managerPhone">managerPhone</label>
                <input type="phone" name="managerPhone" id="managerPhone" class="form-control" placeholder="Enter your managerPhone"
                    #managerPhone='ngModel' [(ngModel)]='managerPhone1' pattern="^[6789][0-9]{9}" minlength="2" maxlength="50" required>
                <div class="text-danger" *ngIf='managerPhone.touched && managerPhone.invalid'>
                    <div class="alert alert-danger" *ngIf='managerPhone.errors.required'>
                        *This Field Is invalid
                    </div>
                    <div class="alert alert-danger" *ngIf='managerPhone.errors.pattern'>
                        *Can take only 10 digit number, must start with 6/7/8/9
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="managerEmail">managerEmail</label>
                <input type="email" name="managerEmail" id="managerEmail" class="form-control" #managerEmail='ngModel' [(ngModel)]='managerEmail1'
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" placeholder="Enter your managerEmail" required minlength="6">
                <div class="text-danger" *ngIf='managerEmail.touched && managerEmail.invalid'>
                    <div class="alert alert-danger" *ngIf='managerEmail.errors.required'>
                        *This Field Is invalid
                    </div>
                    <div class="alert alert-danger" *ngIf='managerEmail.errors.pattern'>
                        *Invalid Email, email field that that must be in the following order:
                        characters@characters.domain (characters followed by an
                        @ sign, followed by more characters, and then a ".". After the "."
                        sign, add at least 2 letters from a to z:
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="managerCity">managerCity</label>
                <input type="text" name="managerCity" id="managerCity" class="form-control" #managerCity='ngModel' [(ngModel)]='managerCity1'
                    placeholder="Enter your managerCity" pattern="^[a-zA-Z]+(?: [a-zA-Z]+)*$" required maxlength="10">
                <div class="text-danger" *ngIf='managerCity.touched && managerCity.invalid'>
                    <div class="alert alert-danger" *ngIf='managerCity.errors.required'>
                        *This Field Is invalid
                    </div>
                    <div class="alert alert-danger" *ngIf='managerCity.errors.pattern'>
                        *This field accepts only alphabets with length 2-50
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="managerPostal">managerPostal</label>
                <input type="text" name="managerPostal" id="managerPostal" class="form-control" #managerPostal='ngModel' [(ngModel)]='managerPostal1'
                pattern="^[0-9]{6}" placeholder="Enter your managerPostal " required minlength="6">
                <div class="text-danger" *ngIf='managerPostal.touched && managerPostal.invalid'>
                    <div class="alert alert-danger" *ngIf='managerPostal.errors.required'>
                        *This Field Is invalid
                    </div>
                    <div class="alert alert-danger" *ngIf='managerPostal.errors.pattern'>
                        *Invalid postal code, postal must be 6 numbers
                    </div>
                </div>
            </div>
            <div class="card-footer float-right">
                <button type="submit" class="btn btn-success" [disabled]="companyBeanForm.form.invalid">Update-Manager</button>
            </div>
            </div>
            <br>
        </form>
    </div>
</body>
