
<div class="col-md-4 offset-4 mt-3 mb-3">
    <input type="search" name="search" class="form-control" [(ngModel)]='search'
        placeholder="Enter ProductName to search...">
</div>
<div class="col-md-3 float-left mt-3" *ngFor='let investerStockInfo of investerStockInfos '>
    <div class="card text-center">
        <div class="card-header bg-muted">
            <h5>TransactionID : {{investerStockInfo.transactionID}}</h5>
        </div>
        <div class="card-body ">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRAxKudoW3yq4wOuC9ntNt9gDF_eh3-pLX40cbNQYDctON7A9ll"
                alt="" height="150px" width="45%" style="border-radius: 50%;margin-top: 1em;">
            <table>
                <tr>
                    <td>
                        <p>investerID : {{investerStockInfo.investerID}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>companyName : {{investerStockInfo.companyName}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>companyID : {{investerStockInfo.companyID}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>stocksVolume : {{investerStockInfo.stocksVolume}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>purchasedPrice : {{investerStockInfo.purchasedPrice}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>totalPrice : {{investerStockInfo.totalPrice}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>currentPrice : {{investerStockInfo.currentPrice}}</p>
                    </td>
                </tr>
            </table>
        </div>

    </div>
</div>