
<div class="col-md-4 offset-4 mt-3 mb-3">
    <input type="search" name="search" class="form-control" 
        placeholder="Enter Company Name to search...">
</div>
<div class="col-md-3 float-left mt-3" *ngFor='let company of companies'>
    <div class="card">
        <div class="card-header bg-muted">
            <h5>companyName : {{company.companyName}}</h5>
        </div>
       
        <div class="card-body center">
            <div class="card-header">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQXvseMpDbHlk7kjvAvxEgg3Sris615f8gnxo71Rec5mpSRqmcD" alt="" style="align-content: center;"
                height="100%" width="100%">
            </div>
            <table>
                <tr>
                    <td>
                        <p>Company Name : {{company.companyName}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Company Director  : {{company.companyDirector}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Company Chairman : {{company.companyChairman}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Company Email : {{company.companyEmail}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Company Phone : {{company.companyPhone}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Company City : {{company.companyCity}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>MaxInvest : {{company.maxInvest}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>MaxStocksPurchase : {{company.maxStocksPurchase}}</p>
                    </td>
                </tr>

            </table>
        </div>
        <div class="card-footer">
            <div class="btn-group col-md-12">
                <button class="btn btn-outline-success" (click)='updateCompany(company)'>
                    Update
                </button>
                <button class="btn btn-outline-success" (click)='deleteCompany(company)'>
                    Delete
                </button>
            </div>
        </div>
  
    </div>
</div>


